<h1><%= @tags.name %></h1>
<table class="table table-striped">
    <% @tags.posts.each do |post| %>
    <tr>
    <td>
        <%= post.vote_count %>
    </td>
    <% if current_user %>
    <td>
        <div class="vote">
            <%= link_to "+1", vote_post_path(post), class: "btn btn-warning btn-xs vote" %>
        </div>
        <div class="vote">
            <%= link_to "-1", down_vote_post_path(post), class: "btn btn-info btn-xs vote" %>
        </div>
    </td>
    <% end %>
    <td>
        <div class="post-column">
            <%=  link_to post.title, link_vote_post_path(post) %>
            <%= post.summary %>

        </div>
        <div class="post-column">
            SubFred: <%= post.subfred.name %>
            Submitted at: <%= (post.created_at).strftime("%v %R") %>
            Tags: <% post.tags.each do |tag| %>
                <%= link_to tag.name, tag %>
                <% end %>
        </div>


    </td>
    <td>
        Submitted by: <%= post.user.name %>
    </td>
    </tr>

    <% end %>
</table>
