<%= link_to "Create new post!", new_post_path, class:"btn btn-success" %>

<table class="table table-striped">
    <% @posts.each do |post| %>
    <tr>
    <td>
        <%= post.vote %>
    </td>
    <td>
        <%= link_to "+1", vote_post_path(post), class: "btn btn-warning btn-xs" %>
    </td>
    <td>
        <div class="row">
            <%=  link_to post.title, link_vote_post_path(post) %>
        </div>
        <div class="row">
            <%= (post.created_at).strftime("%v %R") %>
        </div>


    </td>
    <td>
        Submitted by: <%= post.author %>
    </td>
    </tr>

    <% end %>
</table>
