<div class="col-md-3">
<%= link_to "Create new post!", new_post_path, class:"btn btn-success" %>
</div>
<div class="col-md-3 col-md-offset-6">
    <%= link_to "New User!", new_user_path, class: "btn btn-success" %>
</div>
<div class="col-md-3 col-md-offset-9">
    <%= link_to "New Subfred!", new_subfred_path, class: "btn btn-success" %>
</div>

<table class="table table-striped">
    <% @posts.each do |post| %>
    <tr>
    <td>
        <%= post.vote %>
    </td>
    <td>
        <div class="vote">
            <%= link_to "+1", vote_post_path(post), class: "btn btn-warning btn-xs vote" %>
        </div>
        <div class="vote">
            <%= link_to "-1", down_vote_post_path(post), class: "btn btn-info btn-xs vote" %>
        </div>
    </td>
    <td>
        <div class="post-column">
            <%=  link_to post.title, link_vote_post_path(post) %>
            <%= post.summary %>

        </div>
        <div class="post-column">
            SubFred: <%= post.subfred.name %>
            Submitted at: <%= (post.created_at).strftime("%v %R") %>
        </div>


    </td>
    <td>
        Submitted by: <%= post.user.name %>
    </td>
    </tr>

    <% end %>
</table>
